<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>06-ServletContext</display-name>
  
  <!-- 配置全局配置信息 -->
  <context-param>
  	<param-name>name</param-name>
  	<param-value>zhangsan</param-value>
  </context-param>
  
  <servlet>
    <servlet-name>context</servlet-name>
    <servlet-class>com.shangyang.servlet.ServletContextServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>context</servlet-name>
    <url-pattern>/context</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>context2</servlet-name>
    <servlet-class>com.shangyang.servlet.ServletContextServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>context2</servlet-name>
    <url-pattern>/context2</url-pattern>
  </servlet-mapping>
</web-app>